<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToggleLayers.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ToggleLayers.Settings1>
            <setting name="Layer1" serializeAs="String">
                <value />
            </setting>
            <setting name="Layer2" serializeAs="String">
                <value />
            </setting>
            <setting name="Layer3" serializeAs="String">
                <value />
            </setting>
            <setting name="Layer4" serializeAs="String">
                <value />
            </setting>
            <setting name="Layer5" serializeAs="String">
                <value />
            </setting>
        </ToggleLayers.Settings1>
    </userSettings>
</configuration>